body {
    background-image: url(../img/emilia-about.jpg);
    background-size: 75%;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
a {
    font-family: 'Open Sans', sans-serif;
    color: #888;
    text-decoration: none;
    list-style:none;
}
img{
    height: 15px;
}
h1{
    font-size: 60px;
    font-weight: bold;
}
iframe{
    width: 100%;
    display: block;
}
.menu{
    margin-right: -7px;
    background-color:rgba(255, 255, 255, 0.5);
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.menu_redes{
    font-size: 20px;
    color: #444;
    text-align: right;
    background-color: transparent;
}

.cita{
    color: rgb(63, 153, 63);
}
.cita1{
    font-size: 20px;
}

.cita2{
    font-size: 12px;
}


